.city-search {
  display: flex;
  align-items: center;

  .search-input {
    padding: 0.5rem;
    font-size: 2rem;
    border: 2px solid darkcyan;
    border-radius: 5px;
  }

  .button-search {
    border: 2px solid darkcyan;
    font-size: 2rem;
    background-color: darkcyan;
    color: white;
  }
}
