.city-details-entry {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &-value {
    font-weight: bolder;
  }
}

.city-details-entry:first-of-type {
  font-size: 3rem;
  margin: 2rem;
}
