.city-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .button-back {
    border: none;
    background-color: rgb(250, 250, 250);
    margin-top: 2rem;
  }

  .button-add-city-to-list {
    border: 2px solid darkcyan;
    color: green;
    font-weight: 600;
    padding: 1rem;
  }
}

.fa-arrow-circle-left::before {
  color: green;
}

.fa-arrow-circle-left {
  span {
    font-family: sans-serif;
    padding: 1rem;
  }
}
