.city-details {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .button-back {
    display: flex;
    align-items: center;
    border: none;
    background-color: rgb(250, 250, 250);
    margin-top: 2rem;

    svg {
      color: green;
    }

    span {
      padding: 1rem;
      font-weight: 600;
    }
  }

  .button-add-city-to-list {
    border: 2px solid darkcyan;
    color: green;
    font-weight: 600;
    padding: 1rem;
  }
}
