.city-row {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  cursor: pointer;
}

.city-row:not(:last-child) {
  border-bottom: 2px solid rgba(144, 238, 144, 0.4);
}

.city-row:focus {
  outline: 1px solid black;
}
